/* Base */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* dark background */
}

/* Container */
.update-password {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1f1f1f; /* slightly lighter than background */
    border: 2px solid #00ff00; /* neon green */
    border-radius: 10px;
    box-shadow: 0 0 10px #00ff00; /* neon green glow */
}

/* Labels & Inputs */
.update-password label p {
    color: #00ff00; /* neon green */
    margin-bottom: 5px;
}

.red {
    color: #ff0000; /* neon red */
}

.update-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #2a2a2a; /* even slightly lighter */
    border: 2px solid #00ff00; /* neon green */
    border-radius: 5px;
    color: #ffffff; /* white text */
    font-size: 16px;
}

.update-input:focus {
    outline: none;
    box-shadow: 0 0 5px #00ff00; /* neon green glow on focus */
}

/* Submit Button */
.submit-button {
    padding: 10px 20px;
    background-color: #00ff00; /* neon green */
    border: none;
    border-radius: 5px;
    color: #121212; /* dark text */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
    background-color: #00cc00; /* darker green on hover */
}
